/* From https://css.glass */
.formbg {
  /* From https://css.glass */
  background: rgba(0, 194, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(0, 194, 255, 0.72);
}
.imgbg {
  background-image: url(../../assets/pexels-rachel-claire-4846387.jpg);
}
